*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(48, 20, 148), rgb(7, 17, 102));

}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}

.calc-grid > button {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 10rem;
    border: 1px solid #fff;
    outline: none;
    background-color: rgb(182, 182, 182);

}
.calc-grid > button:hover {
    background-color: rgb(221, 221, 221);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(15, 15, 15, .80);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}

.output .previous-operand {
    color: rgb(255, 255, 255, 0.75);
    font-size: 1.5rem;

}
.output .current-operand {
    color: rgb(255, 255, 255, 0.75);
    font-size: 2.5rem;

}